
<%= simple_form_for(@restaurant) do |f| %>

<div class="restaurant">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, as: :select, collection: Restaurant::CATEGORIES %>
    <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    </div>
<% end %>
